:root {
    --all-li-font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    --white: #ffffff;
    --brand-font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
        serif;
}

a {
    position: relative;
    text-decoration: none;
    margin: 10px;
    font-size: 15px;
    color: #b1b1b1;
    font-family: var(--all-li-font-family);
}
li {
    list-style: none;
    display: inline;
    text-align: center;
    position: relative;
}
ul {
    list-style-type: none;
}
.link-wrapper.text-center {
    margin-top: 15px;
}
#sfh-brand-name {
    font-size: 40px;
    font-family: var(--brand-font-family);
    margin-left: 90px;
    position: relative;
    top: 5px;
}
.container {
    text-align: center;
    position: relative;
}
.search-bar {
    position: relative;
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 40px;
    padding: 5px;
    width: 350px;
    margin-top: 12px;
    margin-left: 10px;
}

.search-bar input[type="search"] {
    border: none;
    outline: none;
    padding-right: 30px; /* Adjust as needed */
    width: 200px;
}

.search-bar::before {
    content: "\f002";
    font-family: FontAwesome;
    font-weight: 900;
    color: gray;
    position: absolute;
    right: 18px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
}
.sfh-icon-wrapper {
    display: inline-flex;
    float: right;
    margin-top: 10px;
    text-align: right;
}
.sfh-navbar-wrapper {
    width: 100%;
    justify-content: center;
    display: inline-flex;
    text-align: center;
    cursor: pointer;
    margin: auto;
    padding: auto;
    border-radius: 20px;
    box-shadow: 1px 0px 20px 10px #cacaca;
}
@media screen and (max-width: 1400px) {
    .search-bar {
        width: 300px;
    }
    #sfh-brand-name {
        font-size: 30px;
    }
    ul {
        padding: 0px !important;
    }
}
@media screen and (max-width: 1200px) {
    .link-wrapper.text-center {
        margin-left: -30px;
    }
    #sfh-brand-name {
        font-size: 30px;
        margin-left: 0px;
    }
    ul {
        padding: 0px !important;
    }
    li {
        margin: 0px;
    }
}
@media screen and (max-width: 1005px) {
    .search-bar {
        width: 280px;
    }
}
@media screen and (max-width: 959px) and (min-width: 200px) {
    #sfh-brand-name {
        font-size: 25px;
        margin-left: 0px;
        position: relative;
        left: 15px;
    }
    .sfh-icon-wrapper div {
        position: relative;
        right: 10px;
        top: -6px;
      }
      .navbar-toggle-wrapper{
          position: relative;
          top: -5px;
          left: 10px;
      }
}
@media screen and (max-width: 366px) and (min-width: 200px) {
    #sfh-brand-name {
        font-size: 20px;
        margin-left: 0px;
        position: relative;
        left: 15px;
    }
    .sfh-icon-wrapper div {
      position: relative;
      right: 10px;
      top: -6px;
    }
    .navbar-toggle-wrapper{
        position: relative;
        top: -5px;
        left: 10px;
    }
}
@media screen and (max-width: 330px) and (min-width: 200px) {
    #sfh-brand-name {
        font-size: 15px;
        margin-left: 0px;
        position: relative;
        left: 15px;
    }
    .sfh-icon-wrapper div {
      position: relative;
      right: 10px;
      top: -6px;
    }
    .navbar-toggle-wrapper{
        position: relative;
        top: -5px;
        left: 10px;
    }
}
@media screen and (max-width: 290px) and (min-width: 200px) {
    #sfh-brand-name {
        font-size: 15px;
        margin-left: 0px;
        position: relative;
        left: 15px;
    }
    .sfh-icon-wrapper div {
      position: relative;
      right: 10px;
      top: -6px;
    }
    .navbar-toggle-wrapper{
        position: relative;
        top: -10px;
        left: 10px;
        font-size: 10px
    }
}
@media screen and (max-width: 280px) and (min-width: 200px) {
    #sfh-brand-name {
        font-size: 13px;
        margin-left: 0px;
        position: relative;
        left: 15px;
    }
    .sfh-icon-wrapper div {
      position: relative;
      right: 10px;
      top: -6px;
    }
    .navbar-toggle-wrapper{
        position: relative;
        top: -10px;
        left: 10px;
        font-size: 10px
    }
}
@media screen and (max-width: 991px) and (min-width: 500px) {
    .link-wrapper.text-center {
        margin-left: -7px;
    }
    .search-bar {
        width: 250px;
    }
    #sfh-brand-name {
        font-size: 30px;
        position: relative;
        top: 8px;
        left: 6px;
    }
}
@media screen and (max-width: 950px) and (min-width: 500px) {
    .search-bar {
        width: 220px;
    }
}
@media screen and (max-width: 957px) and (min-width: 200px) {
    .search-bar {
        display: none;
    }
    .sfh-drop-down-content {
        display: block!important;
    }
    .sfh-navbar-wrapper {
        width: 100%;
        display: inline-flex;
        justify-content: space-around;
        align-items: baseline;
        min-height: 0;
        width: 100%;
        overflow: hidden;
        opacity: 1;
    }
    .link-wrapper.text-center.second.active {
        background: transparent;
        box-shadow: none;
        overflow: hidden;
        z-index: 2;
        height: 100%;
      display: inline-flex;
        margin-top: 30px;
    }
    .link-wrapper.text-center.second.active ul li a {
        margin: 0px;
        font-size: 15px !important;
        position: relative;
    }
    /* .link-wrapper.text-center.second.active ul li {
        margin-left: 25px;
        display: table-row-group;
    } */
    .sfh-brand-wrapper.text-center {
        margin: auto;
    }
    .link-wrapper.text-center {
        display: none;
        width: 0%;
        overflow: hidden;
        animation: closeNavbar 1s ease-in-out forwards;
    }
    .link-wrapper.text-center.active {
        position: absolute;
        left: 0px;
        width: 50%;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
        margin: 0px;
        display: inline-flex;
        float: left;
        height: 100%;
        box-shadow: 15px 50px 50px 1px #afaeae;
        z-index: 1;
        animation: showNavbar 1s ease-in-out forwards;
    }
    @keyframes showNavbar {
        0% {
            width: 0;
        }
        100% {
            width: 50%;
        }
    }
    .link-wrapper.text-center.active li a {
        font-size: 10px;
        display: inline;
    }
    .link-wrapper.text-center.second.active li {
        display: block;
    }
    .sfh-close-btn-wrapper {
        width: 50%;
        text-align: right;
        font-size: xx-large;
        height: 50px;
        z-index: 10;
    }
}
@media screen and (min-width: 957px) {
    .navbar-toggle-wrapper {
        display: none;
    }
    .sfh-close-btn-wrapper {
        display: none;
    }
}
.link-wrapper.text-center.second {
    font-size: 30px !important;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 5px 2px #afaeae;
    border-radius: 20px;
    margin: 0px;
    position: relative;
    bottom: 35px;
}
.link-wrapper.text-center.second li a {
    font-size: 23px !important;
}
/* hanger css start */
#sfh-nav-hanger {
    height: 45px;
    position: relative;
    left: 55px;
    bottom: 0px;
    transform: rotate(150deg);
    width: 5px;
    border-left: 2px solid rgb(193, 193, 193);
    z-index: 2;
}
#sfh-nav-hanger3 {
    position: relative;
    left: 67px;
    bottom: 6px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: 3px solid rgb(193, 192, 192);
    z-index: 2;
}
#sfh-nav-hanger4 {
    position: relative;
    right: 63px;
    bottom: 16px;
    height: 10px;
    transform: rotate(30deg);
    width: 10px;
    border-radius: 100%;
    border: 3px solid rgb(193, 193, 193);
    z-index: 2;
}
#sfh-nav-hanger2 {
    position: relative;
    right: 55px;
    bottom: 55px;
    color: #969696;
    height: 45px;
    transform: rotate(30deg);
    width: 5px;
    border-left: 2px solid rgb(193, 193, 193);
    z-index: 2;
}
@media screen and (max-width: 2020px) and (min-width:1620px){
    #sfh-nav-hanger {
        left: 220px;
    }
    #sfh-nav-hanger2 {
        right: 220px;
    }
    #sfh-nav-hanger3 {
        left: 232px;
    }
    #sfh-nav-hanger4 {
        right: 226px;
    }
}
@media screen and (max-width: 1720px) {
    #sfh-nav-hanger {
        left: 110px;
    }
    #sfh-nav-hanger2 {
        right: 110px;
    }
    #sfh-nav-hanger3 {
        left: 122px;
    }
    #sfh-nav-hanger4 {
        right: 116px;
    }
}
@media screen and (max-width: 1720px) {
    #sfh-nav-hanger {
        left: 110px;
    }
    #sfh-nav-hanger2 {
        right: 110px;
    }
    #sfh-nav-hanger3 {
        left: 122px;
    }
    #sfh-nav-hanger4 {
        right: 116px;
    }
}
@media screen and (max-width: 1340px) {
    #sfh-nav-hanger {
        left: 100px;
    }
    #sfh-nav-hanger2 {
        right: 100px;
    }
    #sfh-nav-hanger3 {
        left: 110px;
    }
    #sfh-nav-hanger4 {
        right: 108px;
    }
}
@media screen and (max-width: 1280px) {
    #sfh-nav-hanger {
        left: 80px;
    }
    #sfh-nav-hanger2 {
        right: 80px;
    }
    #sfh-nav-hanger3 {
        left: 91px;
    }
    #sfh-nav-hanger4 {
        right: 87px;
    }
}
@media screen and (max-width: 1199px) {
    #sfh-nav-hanger {
        left: 120px;
    }
    #sfh-nav-hanger2 {
        right: 120px;
    }
    #sfh-nav-hanger3 {
        left: 131px;
    }
    #sfh-nav-hanger4 {
        right: 126px;
    }
}
@media screen and (max-width: 1100px) {
    #sfh-nav-hanger {
        left: 80px;
    }
    #sfh-nav-hanger2 {
        right: 75px;
    }
    #sfh-nav-hanger3 {
        left: 91px;
    }
    #sfh-nav-hanger4 {
        right: 82px;
    }
}
@media screen and (max-width: 991px) {
    #sfh-nav-hanger {
        left: 140px;
    }
    #sfh-nav-hanger2 {
        right: 140px;
    }
    #sfh-nav-hanger3 {
        left: 151px;
    }
    #sfh-nav-hanger4 {
        right: 146px;
    }
}
@media screen and (max-width: 957px) {
    #sfh-nav-hanger-wrap {
        display: none;
    }
}
.drop-down-list{
display: none;
}
.sfh-drop-down-content.active .drop-down-list{
    display: table-caption;
    z-index: 1;
   
    }
.sfh-drop-down-button{
    border: none;
    border-right:1px solid;
    font-family:  Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(106, 104, 104);
    display: inline-flex;
   
}
.sfh-drop-down-button:hover{
    color: black;
}
.sfh-drop-down-content {
    display: inline;
}
.sfh-drop-down-wrapper{
    display: inline-flex;
}
.sfh-drop-down-content.active .sfh-drop-down-list{
position: absolute;
display: flex;
box-shadow: 1px 1px 20px 10px #bebbbb;
background: white;
border-radius: 25px;
transition: 2s eas;
transform: translateX(-230px);
width: 55%;

margin-top: 10px;
}